<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
      <test verbose="2" preserve-order="true" name="C:/Users/sh.bakshi/IdeaProjects/Sel_CrossBrowser/src/test/java/sheeza.java">

</test>
<test name="TestingFireFox">
    <parameter name="gateway" value="firefox" />
    <classes>
        <class name="sheeza" />
    </classes>
</test>
<test name="TestingChrome">
    <parameter name="gateway" value= "chrome" />
    <classes>
        <class name="sheeza" />
    </classes>
</test>

</suite>